DATABASE_HOST=postgres 
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=bindu
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable

USE_SQLITE=true
SQLITE_DB_PATH=bindu.db

IMAGEPROXY_URL=http://localhost:7001
KAVACH_URL=http://kavach-server:8000
KETO_URL=http://keto:4466
OATHKEEPER_HOST=oathkeeper:4455
KRATOS_PUBLIC_URL=http://kratos:4433
MODE=development

MINIO_URL=minio:9000
MINIO_PUBLIC_URL=localhost:9000
MINIO_KEY=miniokey
MINIO_SECRET=miniosecret
MINIO_BUCKET=dega

CREATE_SUPER_ORGANISATION=true
DEFAULT_USER_EMAIL=testuser@org.com
SUPER_ORGANISATION_TITLE='Bindu Super Organisation'
SUPER_SPACE_NAME='Bindu Admin Space'
DEFAULT_USER_PASSWORD=2ssad32sadADSd@!@4
DEFAULT_NUMBER_OF_SPACES=10
DEFAULT_NUMBER_OF_CHARTS=10

MEILI_URL=http://meilisearch:7700
MEILI_KEY=password
TEMPLATES_PATH=web/parse_description/*
